html, body {
    height: 100%;
    margin: 0px;
}

.dropdown {
    margin-right: 5%;
}

.body {
    background-color: #18181b;
}

.side-menu {
    height: 100%;
    background-color: #18181b;
}

.logo-img {
    width: 70%;
    max-width: 195px;
    margin-left: 25%;
}

.menu ul {
    height: 15%;
    display: grid;
    padding: 30px;
}

.nav-pills .nav-link {
    margin-bottom: 15%;
    text-align: left;

    background-color: #18181b;
    color: white;
}

.nav-pills .nav-link:hover {
    color: #ffed00;
    background-color: #5b5a5a;
}

.navbar {
    background-color: #18181b;
    height: 7%;
    color: white;
}

.btn {
    color: #fff;
    background-color: #18181b;
    border-color: #18181b;
}

.page {
    background-color: #fafaff;
}
