/* -------------- RESET ------------- */

* {margin: 0; padding: 0; border: none; outline: none;
 box-sizing: border-box; font-family: 'Montserrat', sans-serif;}


/* --------------CSS ---------------- */

.top-header {
    background-color: #323232;
}

.logo {
    padding: 1.5%;
    width: 20%;
    max-width: 209px;
}

.menu-buttons {
    display: inline-block;
    list-style: none;
    font-size: 1.3vw;
    margin-left: 15%;
}

.menu-buttons li {
    display: inline-block;
    margin-left: 80px;
}

.menu-buttons li a {
    text-decoration: none;
    color: #ffffff;
}

.menu-buttons li a:hover {
    color: #ffee00;
}
