/* -------------- RESET ------------- */

* {margin: 0; padding: 0; border: none; outline: none;
 box-sizing: border-box; font-family: 'Montserrat', sans-serif;}


/* --------------CSS ---------------- */

html {
    --bg: #FCFCFC;
    --text: black;
}

html[data-theme='dark'] {
    --bg: #1f1f1f;
    --text: white;
}

body {
    background-color: var(--bg);
}

.dark {
    background-color: #18181b;
}

.title {
    color: var(--text);
}

.main {
    margin-bottom: 2%;
}

.menu-buttons {
    list-style: none;
    font-size: 1vw;
    margin-left: 15%;
}

.menu-buttons li {
    margin-left: 80px;
}

.menu-buttons li a {
    text-decoration: none;
    color: #ffffff;
}

.menu-buttons li a:hover {
    color: #ffee00;
}

footer {
    margin-top: 3%; 
}

.creditos {
    color: #686868;
    font-size: .8vw;
}

.royal {
    text-align: right;
    color: #686868;
    font-size: .8vw;
}
