/*------------------------------------------------------------------
common classes*/

ul {
    list-style: none;
}

ul li a {
    text-decoration: none;
}

.category {
    text-shadow: .5px .5px .5px #ffb907;
    font-family: 'Montserrat', sans-serif;
    color: #ffee00;
    font-size: 25px;
}

.title {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: black;
    width: 450px;
}

.desc {
    font-family: 'Montserrat', sans-serif;
    color: #686868;
    width: 440px;
    margin-left: 25px;
    margin-top: 10px;
}

.info {
    font-family: 'Montserrat', sans-serif;
    color: #686868;
    margin-left: 25px;
}

/*------------------------------------------------------------------
POST*/

.header-title {
    text-shadow: .5px .5px .5px #ffb907;
    margin-top: 60px;
    margin-left: 20px;
    font-size: 25px;
}

.line {
    border-top: 2px solid;
    border-color: #ffee00;
    width: 1160px;
    float: right;
    margin-top: -15px;
}

.box {
    margin-top: 50px;
}

.img-small {
    border-radius: 20px;
    width: 388px;
    height: 226px;
}

.text-box {
    float: right;
    margin-right: 275px;
    margin-top: -180px;
}

.title-box {
    width: 600px;
}