/*------------------------------------------------------------------
common classes*/

ul {
    list-style: none;
}

ul li a {
    text-decoration: none;
}

.category {
    text-shadow: .5px .5px .5px #ffb907;
    font-family: 'Montserrat', sans-serif;
    color: #ffee00;
    font-size: 25px;
}

.title {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 1.3vw
}

.desc {
    font-family: 'Montserrat', sans-serif;
    color: #686868;
    font-size: .9vw
}

.info {
    font-family: 'Montserrat', sans-serif;
    color: #686868;
    font-size: .9vw
}

/*------------------------------------------------------------------
POST*/

.header-title {
    text-shadow: .5px .5px .5px #ffb907;
    margin-top: 5%;
    font-size: 30px;
}

.line {
    border-top: 2px solid;
    border-color: #ffee00;
    width: 100%;
}


.box {
    margin-right: 2%;
    margin-top: 4%;
    display: flex;
}

.img-small {
    border-radius: 20px;
    width: 388px;
    height: 226px;
}

.text-box {
    margin-top: 7%;
    margin-left: 2%;
    width: 46%;
}
