/*------------------------------------------------------------------
common classes*/

ul {
    list-style: none;
}

.category {
    text-shadow: .5px .5px .5px #ffb907;
    font-family: 'Montserrat', sans-serif;
    color: #ffee00;
    font-weight: bold;
    font-size: 1.5vw;
}

.title {
    color: var(--text);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.5vw;

}

.info {
    font-family: 'Montserrat', sans-serif;
    color: #686868;
    font-size: .9vw
}

.desc {
    font-size: 1vw;
    color: #686868;
}

/*------------------------------------------------------------------
box-primaria*/

.box-primaria {
    margin-top: 7%;
    margin-bottom: 3%
}

.image-big {
    border-radius: 20px;
}

.text-box-primaria {
    margin-top: 8%;
}

/*------------------------------------------------------------------
box-secundaria*/

.title-li {
    margin-top: 2%;
}

.img-medium {
    border-radius: 20px;
}

.text-box-secundaria {
    margin-top: 3%;
    margin-left: 5%;
}

.info-box-secundaria {
    float: right;
    padding: 10px;
}

.info-box-secundaria li {
    display: inline-block;
    padding-left: 15%;
}

/*------------------------------------------------------------------
News*/

.header-news-title {
    margin-top: 60px;
    font-size: 1.5vw;
}

.line-news {
    border-top: 2px solid;
    border-color: #ffee00;
    width: 100%;
    margin-top: -.8%;
}

.box-news {
    margin-top: 50px;
}

.img-small {
    border-radius: 20px;
}

.text-box-news {
    margin-top: 3%;
}

@media screen and (max-width:700px) {
    .category {
        font-size: 5vw;
    }

    .header-title {
        font-size: 3.5vw;
    }

    .title {
        font-size: 4vw;
    }

    .desc {
            font-size: 3vw;
    }

    .info {
        font-size: 3vw;
    }

    .text-box {
        margin-left: 5%;
    }

    .text-box-primaria {
        margin-top: 4%;
        margin-left: 5%;
        margin-bottom: 5%;
    }

    .text-box-secundaria {
        margin-top: 4%;
        margin-bottom: 10%;
        margin-left: 5%;
    }

    .text-box-news {
        margin-left: 5%;
    }
}