/*------------------------------------------------------------------
common classes*/

ul {
    list-style: none;
}

ul li a {
    text-decoration: none;
}

.category {
    font-family: Ebrima;
    color: #ffee00;
    font-size: 25px;
}

.title {
    text-decoration: none;
    font-family: Ebrima;
    color: black;
    width: 450px;
}

.desc {
    font-family: Ebrima;
    color: #686868;
    width: 440px;
    margin-left: 6%;
    margin-top: 2%;
}

.info {
    font-family: Ebrima;
    color: #686868;
}

/*------------------------------------------------------------------
box-primaria*/

.box-primaria {
    margin-top: 7%;
}

.banner-box-primaria {
    float: left;
    margin-left: 6%;
}

.image-big {
    border-radius: 20px;
    width:688px;
    height:341px;
}

.text-box-primaria {
    float: right;
    margin-top: 4%;
    margin-right: 3%;
}

/*------------------------------------------------------------------
box-secundaria*/

.box-secundaria {
    margin-top: 3%;
    display: inline-block;
}

.v0 {
    margin-left: 6%;
}

.v1 {
    float: right;
    margin-right: 8%;
}

.title-li {
    margin-top: 2%;
}

.img-medium {
    border-radius: 20px;
    width: 534px;
    height: 293px;
}

.text-box-secundaria-post1 {
    margin-left: 12%;
}

.info-box-secundaria-post1 {
    margin-left: -12%;
}

.info-box-secundaria-post1 li {
    display: inline-block;
    padding-left: 15%;
}

/*------------------------------------------------------------------
News*/

.header-news-title {
    margin-top: 60px;
    margin-left: 20px;
    font-size: 25px;
}

.line-news {
    border-top: 2px solid;
    border-color: #ffee00;
    width: 1160px;
    float: right;
    margin-top: -15px;
}

.box-news {
    margin-top: 50px;
}

.box-news-banner {
    height: 226px;
}

.img-small {
    border-radius: 20px;
    width: 388px;
    height: 226px;
}

.text-box-news {
    float: right;
    margin-right: 275px;
    margin-top: -16%;
}

.title-box-news {
    width: 600px;
}