.mid {
    width: 60%;
    height: 100%;
}

.podcast {
    text-align: center;
    margin-top: 3%;
}

.banner {
    border-radius: 20px;
}

.info {
    margin-top: -12%;
    margin-bottom: 5%;
}

.category {
    font-weight: bold;
    font-size: 2vw;
    color: #ffee00;
    text-shadow: 1px 1px 1px #ffb907;
}


.title {
    margin-left: 2%;
    text-align: left;
    font-weight: bold;
    color: white;
    font-size: 2.5vw;
    text-shadow: 1px 1px 1px #000;
}

.duration {
    margin-left: -10%;
    margin-top: .6%;
    font-size: 1.1vw;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 1px #000;
}

.date {
    margin-left: -7%;
    margin-top: .6%;
    color: white;
    font-size: 1.1vw;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
}

.playerbox {
    margin-top: -.6%;
}

.player {
    width: 100%;
    max-width: 300px;
}

.button-box {
    margin-top: -1%;
}

.btn-primary {
    font-size: 1.5vw;
    font-weight: bold;
    background: #ffb907;
    border-color: #ffb907;
}

.btn-primary:hover {
    background: #ffee00;
    border-color: #ffee00;
}

.desc-title {
    float: left;
    margin-left: 1.5%;
    font-size: 1.6vw;
    color: var(--text);
}

.desc {
    font-size: 1vw;
    float: left;
    text-align: left;
    margin-left: 1%;
    margin-top: .6%;
    margin-bottom: 10%;
    color: var(--text);
}

.podcast-player {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #18181b;
    padding: 0 20px;
    z-index: 999;
    color: #fff;
}


@media screen and (max-width:700px) {
    .category {
        font-size: 3.2vw;
    }

    .desc-title {
        font-size: 3.5vw;
    }

    .title {
        font-size: 4.3vw;
    }

    .desc {
        font-size: 2.5vw;
    }

    .duration {
        font-size: 2vw;
    }

    .date {
        font-size: 2vw;
    }

    .info {
        margin-top: -20%;
        margin-bottom: 5%;
    }

    .btn {
        margin-top: 2%;
        width: 100%;
        font-size: 3.5vw;
    }

    .player {
        margin-top: 5%;
        margin-bottom: 5%;
    }

}