.mid {
    width: 60%;
    height: 100%;
}

.podcast {
    text-align: center;
    margin-top: 3%;
}

.banner {
    border-radius: 20px;
    width: 100%;
    height: 38vw;
}

.category {
    font-weight: bold;
    font-size: 2vw;
    color: #ffee00;
    margin-top: -12%;
    margin-right: 80%;
    text-shadow: 1px 1px 1px #ffb907;
}


.title {
    text-align: left;
    font-weight: bold;
    color: white;
    font-size: 2.5vw;
    margin-left: 3%;
    margin-bottom: 6%;
    text-shadow: 1px 1px 1px #000;
}

.duration {
    margin-left: -87%;
    margin-top: -6%;
    margin-bottom: 5%;
    font-size: 1.3vw;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 1px #000;
}

.date {   
    margin-top: -3%;
    margin-left: -55%;
    color: white;
    font-size: 1.1vw;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
}

.button-box {
    margin-top: -1%;
}

.btn-primary {
    font-size: 1.5vw;
    font-weight: bold;
    background: #ffb907;
    border-color: #ffb907;
}

.btn-primary:hover {
    background: #ffee00;
    border-color: #ffee00;
}

.desc-title {
    float: left;
    font-size: 1.2vw;
    margin-left: 1.5%;
    font-size: 1.6vw;
}

.desc {
    font-size: 1vw;
    float: left;
    text-align: left;
    margin-left: 1%;
    margin-top: .6%;   
}

.player {
    background-color: #323232;
}

.player-menu {
    padding: .6%;
    margin-left: 0%;
}

.player-menu button {
    margin-left: 5%;
}

.pb {
    background: transparent;
    font-size: 35px;
    float: left;
    cursor: pointer;
    color: white;
}

.pb:hover {
    color: #ffee00;
}

.sound-title {
    float: left;
    margin-left: 5%;
    color: white;
    font-size: 23px;
    margin-top: -.2%;
}

.timeline {
    width: 21%;
    height: 20%;
    background: white;
    margin-top: .2%;
    float: right;
    border-radius: 15px;
    margin-right: 7%;
}

.playhead {
    width: 4%;
    height: 95%;
    border-radius: 50%;
    background: #ffee00;
}

.sound-volume {
    width: 10%;
    height: 20%;
    background: white;
    margin-top: .2%;
    float: right;
    border-radius: 15px;
    margin-right: 10%;
}

.soundhead {
    width: 8%;
    height: 96%;
    border-radius: 50%;
    background: #ffee00;
    margin-top: -11%;
}

#volUpIcon {
    color: white;
    font-size: 25px;
    margin-left: 110%;
    margin-top: -2.5%;
}

#volDownIcon {
    color: white;
    font-size: 28px;
    margin-left: -7.5%;
    margin-top: -1.1%;
    position: absolute;
}