.cabeçalho ul {
    list-style: none;
}

ul li {
    color: var(--text);
    padding-top: 5px;
}

.cabeçalho {
    text-align: center;
}

.title {
    color: var(--text);
    margin-top: 7%;
    font-weight: bold;
    font-size: 2vw;
}

.subtitle {
    color: var(--text);
    font-size: 1vw;
}

.info {
    color: var(--text);
    padding: 30px;
    font-size: .8vw;
}

.info li{
    color: var(--text);
    margin-top: -20px;
}

.content p {
    color: var(--text);
    padding-top: 2%;
    font-size: 1vw;
}