.cabeçalho ul {
    list-style: none;
}

ul li {
    color: var(--text);
    padding-top: 5px;
}

.cabeçalho {
    text-align: center;
}

.title {
    color: var(--text);
    margin-top: 7%;
    font-weight: bold;
    font-size: 3vw;
}

.subtitle {
    color: var(--text);
    font-size: 2vw;
}

.info {
    color: var(--text);
    padding: 30px;
    font-size: 1vw;
}

.info li{
    color: var(--text);
    margin-top: -20px;
}

.content p {
    color: var(--text);
    padding-top: 2%;
    font-size: 1.5vw;
}

@media screen and (max-width:700px) {
    .title {
        font-size: 4.3vw;
    }

    .subtitle {
    font-size: 3vw;
    }

    .info {
    font-size: 3vw;
    }

    .content p {
    font-size: 3vw;
    }
}