{% extends "base.html" %}

{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/podcast.css') }}">
    <script src="https://kit.fontawesome.com/43fb59542f.js" crossorigin="anonymous"></script>
</head>

<div class="container rounded">

    <div class="podcast">

        <article class="justify-content-center">
            <img class="banner img-fluid" src="{{ url_for('static', filename=podcast.banner) }}">

            <div class="info">
                <h2 class="category">CritiCast {{podcast.id}}</h2>
                <p class="date">{{ podcast.date_posted.strftime('%d/%m/%Y') }}</p>
                <h2 class="title">{{podcast.title}}</h2>
                <p class="duration">{{podcast.duration}}</p>
            </div>
        </article>

        <div class="row">
            <div class="info-box col-8">

                <h3 class="desc-title">Neste CritiCast:</h3>

                <p class="desc">{{podcast.desc.capitalize()}}</p>

            </div>

            <div class="button-box col-4">
                <a href="{{ url_for('views.podcastDownload', podcast_id=podcast.id) }}">
                    <button class="btn btn-primary btn-lg">
                        <i class="fas fa-download"></i> Download
                    </button>
                </a>
            </div>
        </div>
    </div>


</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock content %}