{% extends "base.html" %}

{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/podcast.css') }}">
    <script src="https://kit.fontawesome.com/43fb59542f.js" crossorigin="anonymous"></script>
</head>

<div class="podcast">

    <figure>
        <img class="banner" src="{{ url_for('static', filename=podcast.banner) }}">
        <figcaption class="category">CritiCast {{podcast.id}}</figcaption>
        <figcaption class="title">{{podcast.title}}</figcaption>
    </figure>


    <p class="duration">{{podcast.duration}}</p>


    <p class="date">{{ podcast.date_posted.strftime('%d/%m/%Y') }}</p>

    <a href="{{ url_for('views.podcastDownload', podcast_id=podcast.id) }}">
        <button class="button">
            <i class="fas fa-download"></i> Download
        </button>
    </a>

    <button class="button">
        <i class="fas fa-play"></i> Play
    </button>

    <h3 class="desc-title">Neste CritiCast:</h3>

    <p class="desc">{{podcast.desc.capitalize()}}</p>
</div>

{% endblock content %}